/*

Style with support for rainbow parens

*/
.markdown-body .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #161b22;
    color: #d1d9e1;
    font-size: 14px;
}
.markdown-body .hljs::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #bdbdbd;
}
.markdown-body .hljs::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
}

.markdown-body .hljs-params{
    color: #ffa657;
}
.markdown-body .hljs-tag{
    color: #efefef;
}

.markdown-body .hljs-comment,
.markdown-body .hljs-quote {
    color: #969896;
    font-style: italic;
}

.markdown-body .hljs-keyword,
.markdown-body .hljs-selector-tag,
.markdown-body .hljs-literal,
.markdown-body .hljs-type,
.markdown-body .hljs-addition {
    color: #ff7b72;
}

.markdown-body .hljs-number,
.markdown-body .hljs-selector-attr,
.markdown-body .hljs-selector-pseudo {
    color: #79C0FF;
}

.markdown-body .hljs-doctag{
    color: #ff7b72;
}

.markdown-body .hljs-string,
.markdown-body .hljs-regexp {
    color: #A5D6FF;
}

.markdown-body .hljs-title,
.markdown-body .hljs-section,
.markdown-body .hljs-built_in {
    color: #D2A8FF;
}

.markdown-body .hljs-name{
    color: #7ee787;
}

.markdown-body .hljs-variable,
.markdown-body .hljs-template-variable,
.markdown-body .hljs-selector-id,
.markdown-body .hljs-class .markdown-body .hljs-title {
    color: #ffcc66;
}

.markdown-body .hljs-section,
.markdown-body .hljs-name,
.markdown-body .hljs-strong {
    font-weight: bold;
}

.markdown-body .hljs-symbol,
.markdown-body .hljs-bullet,
.markdown-body .hljs-subst,
.markdown-body .hljs-meta,
.markdown-body .hljs-link {
    color: #f99157;
}

.markdown-body .hljs-deletion {
    color: #dc322f;
}

.markdown-body .hljs-formula {
    background: #eee8d5;
}

.markdown-body .hljs-attr,
.markdown-body .hljs-attribute {
    color: #d2a8ff;
}

.markdown-body .hljs-emphasis {
    font-style: italic;
}
